body {
    font-family: Arial, sans-serif;
    font-size: 4px;
    background-color: black;
    color: #fffffff1;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .column {
    width: 30%;
  }
  
  h1 {
    text-align: center;
    font-size: 4.2rem;
    text-shadow: 2px 2px #000;
  }
  
  h2 {
    font-size: 2.2rem;
    font-weight: bold;
  }
  
  p {
    margin: 0.5rem 0;
  }
  .animated-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    animation: gradient-bg 10s ease-in-out infinite;
  }
  
  @keyframes gradient-bg {
    0% {
      background: linear-gradient(to right, #630313, #ffc3a0);
    }
    50% {
      background: linear-gradient(to right, #9948be, #fbd786, #8f1e22);
    }
    100% {
      background: linear-gradient(to right, #350444, #ffc3a0);
    }
  }
  

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  
  .container {
    width: 100%;
    padding: 10px;
  }
  
  .row {
    flex-wrap: wrap;
  }
  
  .column {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    font-size: 16px;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .column {
    width: 45%;
    margin-right: 5%;
  }
  
  .column:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .column {
    width: 30%;
  }
}
.square-polygon-box {
    width: 600px;
    height: 600px;
    border: 4px solid black;
    transform: rotate(45deg);
  }
    